* {
    box-sizing: border-box;
}

/*  Fonts */
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}


/* BASE */
html {
    font-family: Poppins, sans-serif ;
    background-color: #22252c;
}

body {
    margin: 0;
    color: white;
    /* max-width: 1280px; */
}

/* h1 {
    margin: 0;
} */

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

/* Layout */
.main-layout {
    max-width: 1280px;
}

/* Components */

/* Main header */

header {
    margin: 10px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
}

header .logo {
    width: 200px;
    padding: 10px 20px;
}


header nav li {
    margin-inline-end: 20px;
}


header {
    background-color: #1ca89a;
}

/* Main Container */

.main-container {
    background-color: #383b42;
}

/* Gallery */
/* .search-container *{
    display: inline;
} */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 25px 30px;
    grid-auto-rows: 200px;
    justify-content:center;

}

.gallery-grid img {
    border-radius: 20px;
    cursor: pointer;
}

/* Editor */

canvas {
    border: 1px solid black;

}

.toolbox-container {
    width: 546px;
    /* height: 200px; */
    /* background-color: blueviolet; */
}

/* Helpers */

.hide {
    display: none;
}

/* list */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}