* {
    box-sizing: border-box;
}

/*--------  Fonts --------*/
@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Assistant;
    src: url(../fonts/Assistant-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: VarelaRound;
    src: url(../fonts/VarelaRound-Regular.ttf);
}


/*-------- BASE --------*/
html {
    font-family: Poppins-Medium, sans-serif ;
    background-color: #22252c;
}

body {
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}


/*-------- Components --------*/

/* Main header */

header {
    background-image: linear-gradient(-86deg, #33bd6d 0%, #0b97b9 100%);
    max-width: 680px;
    margin: 0 auto; }
@media (min-width: 680px){
    header {
        max-width: 1260px;
        border-radius: 30px;
        margin: 15px auto;
    }
}

header .logo {
    width: 200px;
    padding: 10px 20px;
    margin-left: 50px;
}

.toggle-menu-btn {
    background: none;
    border: none;
    padding: 20px; }
@media (min-width: 680px){
    .toggle-menu-btn {
        display: none;
    }
}

header nav li:last-child {
    margin-inline-end: 250px; /*TODO fix */
}

header nav li {
    margin-inline-end: 40px;
    font-size: 1.375rem;
    cursor: pointer;
}

header nav .active {
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.15));
    background-color: #fefefe;
    border-radius: 20px;
    padding: 2px 20px;
    color: #21ac91;
}

/*Mobile menu only*/
@media (max-width: 680px){
    nav ul {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-image: linear-gradient(-86deg, #33bd6d 0%, #0b97b9 100%);
        width: 200px; 
        z-index: 2;
        transform: translateX(100%);
        transition: transform .6s;
    }
    nav ul li {
        margin: 2.5rem 0;
    }
    header nav li:last-child {
        margin-inline-end: 0;
    }
    body.menu-open header nav ul {
        transform: translateX(0);
    }
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    cursor: wait;
    opacity: 0;
    pointer-events: none;   
    transition: opacity .6s;
    z-index: 1;
}

body.menu-open .main-screen {
    pointer-events: auto;   
    opacity: 1;
 }

/* Main Container */

/* Gallery */

.gallery-container {
    background-color: #383b42;
    max-width: 1244px; /*640px;*/
    border-radius: 10px;
    margin: 0 auto;
}

.search-container {
    margin: 30px 25px ;
    gap: 20px;
    flex-wrap: wrap; }
    @media (min-width: 680px) {
        .search-container {
            flex-direction: row;
        }
    }


.search-input-container {
    /* width: 541px; */
    width: 100%;
    height: 58px;
    border-radius: 29px;
    background-color: #22252c; }
    @media (min-width: 680px){
        .search-input-container {
            flex: 1;
        }
    }

.search-input {
    width: 85%;
    appearance: none;
    border-style: hidden;
    background-color: #22252c;
    color: #FEFEFE;
    font-family: Poppins-Light;
    padding-inline-start: 10%;
    border-radius: 29px;
    font-size: 1.375rem;
    /* width: 450px; */
}

.search-btn {
    font-size: 32px;
    padding-inline-end: 4%;
    color: gray;
}

.search-input:focus {
    outline: none;
}

.keywords {
    border-radius: 30px;
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.15));
    background-color: #87898d;
    padding: 12px 22px;
    flex: 1;
    font-family: Poppins-Light;
}

.more-btn {
    border-radius: 30px;
    border: none;
    padding: 3px 0px;
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.15));
    background-image: linear-gradient(-86deg, #33bd6d 0%, #0b97b9 100%);
    font-family: Poppins-Light;
    font-size: 1.125rem;
    color: #FEFEFE;
    flex: 0.2;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    /* grid-template-columns: minmax(100px, 200px), minmax(100px, 200px); */
    /* grid-auto-rows: 200px; */
    /* gap: 25px 30px; */
    gap: 20px 28px;
    justify-content:center;
    
    border-radius: 10px;
    background-color: #383b42;
    margin: 0 25px 5px 25px; }
    @media (min-width: 680px) {
        .gallery-grid {
            overflow-y: scroll;
            height: 566px;
        }
    }


/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 14px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #22252c;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(-86deg, #33bd6d 0%, #0b97b9 100%);
}


.gallery-grid img {
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,0.34));
    background-color: #fefefe;
}

.gallery-grid img:hover {
    opacity: 0.6;
}


/* Editor */

canvas {
    border: 1px solid black;
    border-radius: 25px;
    border: 6px solid rgba(235,238,243,0.09);
}

.editor-container {
    flex-direction: column;
    align-items: center;
    align-content:space-around; }
@media (min-width: 680px){
    .editor-container {
        flex-direction: row;
        gap: 2%;
        /* gap: 75px; */
    }
}

.toolbox-container {
    background-color: #383B42;
    align-items: center;
    width: 100%;
    max-width: 420px;
    gap: 10px;
    border-radius: 30px;
    padding: 2%;
    align-content: space-around;
    justify-content: space-evenly; }
    @media (min-width: 680px){
        .toolbox-container {
            /* width: 35%; */
            min-width: 420px;
        }
    }

.toolbox-container .text-line {
    width: 100%;
}

.toolbox-container input[name="text"] {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    font-size: 25px;
    font-family: Poppins-Medium;
    text-align: center;
    color: #3D3D3D;
    outline: none;
    background-color: #ebeef3;
}

.toolbox-container .basic-btns button {
    width: 57px;
    height: 52px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.toolbox-container .basic-btns button.axis-y {
    filter: drop-shadow(0.262px 4.993px 0px #5f1177);
    background-image: linear-gradient(-38deg, #ab24d4 0%, #b13fcd 50%, #bb0b95 100%);
}
.toolbox-container .basic-btns button.axis-y img {
    width: 25px;
}

.toolbox-container .basic-btns button.switch {
    filter: drop-shadow(0.262px 4.993px 0px #048b97);
    background-image: linear-gradient(-38deg, #65c3db 0%, #3fb1cd 50%, #0b97bb 100%);
}

.toolbox-container .basic-btns button.add {
    filter: drop-shadow(0.262px 4.993px 0px #015d33);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b349 100%);
}
.toolbox-container .basic-btns button.add img {
    width: 27px;
}

.toolbox-container .basic-btns button.delete {
    filter: drop-shadow(0.262px 4.993px 0px #8c0606);
    background-image: linear-gradient(-38deg, #cf1d37 1%, #ef5036 100%);
}
.toolbox-container .basic-btns button.delete img {
    width: 27px;
}

.toolbox-container .stroke-btn {
    background-image: url('../img/stroke.png');
    background-repeat: no-repeat;
    background-position: center;
}

.toolbox-container .fill-btn {
    background-image: url('../img/fill.png');
    background-repeat: no-repeat;
    background-position: center;
}

.toolbox-container .stroke-btn input,
.toolbox-container .fill-btn input {
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.style-btns.grid {
    display: grid;
    grid-template-columns: repeat(5, 54px);
    gap: 5% 2%;
    padding: 2% 5%;
    grid-auto-rows: 50px;
    background-color: #19A59F;
    width: 100%;
    border-radius: 15px;
    justify-content: space-between;}
    @media (min-width: 680px){
        .style-btns.grid {
            gap: 18px 18px;
            padding: 14px 16px;
        }
    }

.style-btns.grid > * {
    border-radius: 10px; 
    border: none;
    filter: drop-shadow(0.262px 4.993px 0px rgba(92,92,92,0.55));
    background-color: #ffffff;
    cursor: pointer;
}

.style-btns.grid select {
    grid-column: span 3;
    font-size: 26px;
    font-weight: 600;
    font-family: Poppins-Medium;
}
.toolbox-container .style-btns select {
    border-radius: 10px;
    padding: 6px 12px;
    text-transform: uppercase;
}

.advanced-btns .download-btn,
.advanced-btns .publish-btn {
    font-family: Poppins-Medium, sans-serif;
    font-size: 1.275rem;
    color: #FFFFFF;
    border: none;
    padding: 4px 22px;
    border-radius: 13px;
    filter: drop-shadow(0.314px 5.992px 0px #165c9c);
    background-color: #1e7cd3;
    cursor: pointer;
}

.advanced-btns .download-btn img,
.advanced-btns .publish-btn img {
    width: 24px;
    padding-inline-end: 5px;
}

.advanced-btns .download-btn {
    filter: drop-shadow(0.314px 5.992px 0px #632687);
    background-color: #8f44bb;
}

.highlight {
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

/* Modal */
.modal {
    position: fixed;
    padding: 40px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple ;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 8px rgb(155 155 155 / 80%);
    text-align: center;
}

.modal .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    border-radius: 7px;
    background-color: purple;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

/* Helpers */

.hide {
    display: none;
}

/* list */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}