* {
    box-sizing: border-box;
}

/*  Fonts */
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}


/* BASE */
html {
    font-family: Poppins, sans-serif ;
    background-color: #22252c;
}

body {
    margin: 0;
    color: white;
}

/* h1 {
    margin: 0;
} */

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

/* Layout */


/* Components */

/* Main header */

header .logo {
    width: 200px;
    padding: 10px 20px;
}

header nav li {
    margin-inline-end: 20px;
}


header {
    background-color: #1ca89a;
}

/* Main Container */

.main-container {
    background-color: #383b42;
}


/* Helpers */

/* list */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}